@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* ---------- NULL STYLE ----------*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* ---------- GENERAL STYLES ----------*/

body {
  font-family: 'Roboto', sans-serif;

  --custom-green: #099806;
  --light-grey: #A1A1A1;
  --custom-blue: #A1C2C7;
  --link-color: #0745A3;
}

.modal {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__container {
  width: calc(654px * var(--scale)); 

  padding: calc(49px * var(--scale)) calc(109px * var(--scale)) calc(78px * var(--scale)) calc(79px * var(--scale));
  position: relative;

  box-shadow: 0px calc(4px * var(--scale)) calc(69px * var(--scale)) rgba(185, 185, 185, 0.25);
  border-radius: calc(10px * var(--scale));
}

.title {
  margin-bottom: calc(30px * var(--scale));

  font-weight: 500;
  font-size: calc(36px * var(--scale));
  line-height: calc(42px * var(--scale));
}

.link {
  color: var(--link-color);
}

.button {
  width: calc(188px * var(--scale));

  padding: calc(11px * var(--scale)) 0 calc(10px * var(--scale)) 0;

  text-align: center;
  font-size: calc(20px * var(--scale));
  line-height: calc(23px * var(--scale));

  border: 1px solid var(--custom-green);
  border-radius: calc(16px * var(--scale));
}

.modal .button {
  width: 100%;
}

.button_green {
  color: #fff;
  background-color: var(--custom-green);
}

.button_outline-green {
  color: var(--custom-green);
  background-color: #fff;
}

.cancel-button {
  --cancel-button-size: calc(28px * var(--scale));
  --cancel-button-line-size: calc(var(--cancel-button-size) / 0.71);

  width: var(--cancel-button-size);
  height: var(--cancel-button-size);

  position: absolute;
  top: calc(41px * var(--scale));
  right: calc(41px * var(--scale));

  background-color: transparent;
}

.cancel-button::before, .cancel-button::after {
  content: '';

  width: var(--cancel-button-line-size);
  height: 1px;

  position: absolute;
  top: calc(var(--cancel-button-size) / 2);
  left: calc(-1 * (var(--cancel-button-line-size) - var(--cancel-button-size)) / 2);

  background-color: #000;
}

.cancel-button::before {
  transform: rotate(45deg);
}

.cancel-button::after {
  transform: rotate(-45deg);
}

.modal .form > div {
  margin-bottom: calc(30px * var(--scale));
}

.label  {
  display: block;

  margin-bottom: calc(7px * var(--scale));

  font-size: calc(16px * var(--scale));
  line-height: calc(19px * var(--scale));
}

.input, .textarea-field__textarea, .select-field__option {
  width: 100%;

  padding: calc(13px * var(--scale)) calc(17px * var(--scale)) calc(13px * var(--scale)) calc(17px * var(--scale));

  font-size: calc(20px * var(--scale));
  line-height: calc(23px * var(--scale));

  border: 1px solid #000000;
  border-radius: calc(4px * var(--scale));
}

.select-field .input {
  --select-field-input-pr: calc(33px * var(--scale));
  padding-right: var(--select-field-input-pr);
}

.input::-webkit-input-placeholder {
  color: var(--light-grey);
}

.input[name=date] {
  width: calc(144px * var(--scale));
}

.input[type=url] {
  color: #0745A3;
}

.textarea-field__textarea {
  height: calc(153px * var(--scale));

  resize: none;
}

.select-field__input-wrapper {
  position: relative;
}

.select-field {
  position: relative;
}

.select-field__button {
  --button-size: calc(10px * var(--scale) * 0.8);
  
  content: '';

  width: var(--button-size);
  height: var(--button-size);

  position: absolute;
  right: calc(0.7em);

  transform: rotate(-45deg);

  background-color: transparent;  
}

.select-field__button_up {
  bottom: calc(1.2em  - var(--button-size) / 2);

  border-right: 1px solid #000;
  border-top: 1px solid #000;
}

.select-field__button_down {
  bottom: calc(1.2em);

  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

.select-field__select {
  display: none;

  min-width: 46px;
  max-height: 400px;

  position: absolute;
  z-index: 2;
}

.select-field__option:last-child {
  border-radius: 0 0 calc(4px * var(--scale)) calc(4px * var(--scale));
}

.select-field__option {
  cursor: pointer;
  background-color: #fff;
  border-top: none;
  border-right: 1px solild #000;
  border-left: 1px solild #000;
  border-radius: 0;
}

.select-row {
  display: flex;
}

.select-row__select-field .select-field__select {
  text-align: center;
}

.select-row__select-field {
  min-width: calc(98px * var(--scale));
}

.select-row__select-field:not(:last-child) {
  margin-right: calc(41px * var(--scale));
}

.select-row .select-field__option, .select-row .input {
  text-align: center;
}

.select-row .input {
  padding-left: calc(30px * var(--scale));
  padding-right: calc(30px * var(--scale));
}

.checkbox-field {
  --checkbox-size: 33px;
  display: inline-block;
}

.checkbox-field__checkbox {
  display: none;
}

.checkbox-field__fake {
  display: inline-block;

  width: var(--checkbox-size);
  height: var(--checkbox-size);

  position: relative;

  cursor: pointer;
  background: rgba(222, 222, 222, 0.14);
  border: 1px solid #A1C2C7;
  border-radius: 4px;
}

.checkbox-field__fake::before {
  content: '';

  display: block;

  width: calc(var(--checkbox-size) * 0.6875);
  height: calc(var(--checkbox-size) * 0.364);

  position: absolute;
  top: calc(var(--checkbox-size) * 0.182);
  left: calc(var(--checkbox-size) * 0.154);

  transform: rotate(-45deg);

  border-bottom: 3px solid #099806;
  border-left: 3px solid #099806;

  opacity: 0;
}

.checkbox-field__checkbox:checked + .checkbox-field__fake::before {
  opacity: 1;
}


/* ---------- SCALES ----------*/

.modal-authorization, .modal-primary-stream, .calling, .modal-funnel, .main {
  --scale: 1;
}

.modal-comment-click {
  --scale: 0.67;
}

.modal-for-employee {
  --scale: 0.73;
}

/* ---------- AUTHORIZATION ----------*/

.modal-authorization {
  padding: 10px;
}

.modal-authorization .title {
  text-align: center;
}
.modal-authorization .button {
  margin-top: 50px;
  padding: 18px;

  font-size: 24px;
}


/* ---------- MAIN ----------*/

.main {
  display: flex;
}

.main__container {
  width: 100%;
  padding: 28px 31px 18px 21px;
}

.main__title {
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.045em;
}

.main__calling {
  flex: 1 1 auto;
}

.main .input {
  padding: 5px;
  
  font-size: 16px;
}

.main .select-field__select {
  padding: 5px 0;

  font-size: 16px;
  line-height: 19px;
  color: #676767;

  background-color: #fff;
  border: 1px solid #CFCFCF;
}

.main .select-field__select::before {
  content: '';

  display: block;

  width: 16px;
  height: 16px;

  position: absolute;
  top: -9px;

  transform: rotate(45deg);

  background-color: #fff;
  border-top: 1px solid #CFCFCF;
  border-left: 1px solid #CFCFCF;
}

.main .select-field__option {
  padding: 2px 10px;

  text-align: center;

  border: none;
}

/* ---------- NAV ----------*/

.aside {
  min-height: 100vh;

  background-color: var(--custom-blue);
}

.nav {
  padding: 28px 18px;

  position: sticky;
  top: 0px;

  text-align: center;
}

.nav__item {
  background-color: #fff;
  
  border: 1px solid #000000;
  border-radius: 20px;
}

.nav__item:not(:last-child) {
  margin-bottom: 16px;
}

.nav__link {
  display: block;

  padding: 9px 22px;

  font-size: 14px;
  line-height: 16px;
  color: #000;
}

/* ---------- TOP ROW ----------*/

.top-row {
  display: flex;
  align-items: flex-end;

  margin-bottom: 22px;
}

.top-row__form {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex: 1 1 auto;

  margin-right: 27px;
}

.form__fields {
  display: flex;
}

.form__fields > div:nth-child(1) {
  width: 103px;

  margin-right: 45px;
}

.top-row__input-field-date {
  width: 148px;

  margin-right: 45px;
}

.top-row__select-fied-leads {
  width: 107px;
}

.top-row .select-field__select {
  min-width: 182px;

  right: -22px;
  top: 60px;
}

.top-row .select-field__select::before {
  right: 26px;
}

.top-row .input {
  font-size: 22px;
  line-height: 26px;

  border: 1px solid #8E8E8E;
}

.top-row .input[name="dateAdded"]::placeholder {
  text-align: center;
}

/* ---------- TABLE ----------*/

.table__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__header {
  padding: 21px 53px 18px 6px ;

  background-color: var(--custom-blue);
}

.table__row:not(.table__header) {
  padding: 10px 53px 8px 6px;
}

.table__header .table__column {
  font-size: 18px;
  line-height: 21px;
}

.table__row:not(:first-child) {
  border-left: 1px solid #D4D4D4;
  border-right: 1px solid #D4D4D4;
  border-bottom: 1px solid #D4D4D4;
}

.table__row:not(.table__header) .table__column {
  font-size: 24px;
  line-height: 1em;
  color: #353535;
}

.table .input {
  border: none;

  font-size: 24px;
  line-height: 28px;

  background-color: transparent;
}

.table .select-field__select {
  right: -10px;
}

.table .select-field__select::before {
  right: 14px;
}

/* ---------- CALLING  ----------*/

.calling__table .table__column:nth-child(6), .calling__table .table__column:nth-child(1) {
  text-align: center;
}

.calling__table .table__row .table__column:nth-child(1) {
  width: 102px;
}

.calling__table .table__row .table__column:nth-child(2) {
  width: 113px;
}

.calling__table .table__row .table__column:nth-child(3) {
  width: 110px;
}

.calling__table .table__row .table__column:nth-child(4) {
  width: 85px;
}

.calling__table .table__row .table__column:nth-child(5) {
  width: 105px;
}

.calling__table .table__row .table__column:nth-child(6) {
  width: 230px;
}

.calling__table .table__row .table__column:nth-child(7) {
  width: 150px;
}

.calling__table .table__row .table__column:nth-child(8) {
  width: 252px;
}

.calling__table .table__row .table__column:nth-child(9) {
  width: 70px;
}



/* ---------- MODAL FUNNEL ----------*/

.modal-funnel .modal__container {
  width: auto;
}

.modal-funnel .main__title {
  margin-bottom: 37px;
}

.modal-funnel .input {
  margin-bottom: 29px;

  border: 1px solid #8E8E8E;
}

.modal-funnel .table__header .table__column {
  padding: 21px 36px 20px 36px;

  flex: 1 1 auto;
}

.modal-funnel .table__header > .table__column:last-child{
  border-left: 1px solid #fff;
}

.modal-funnel .table__row {
  display: flex;
  align-items: center;

  padding: 0;
}

.modal-funnel .table__row:not(.table__header) .table__column {
  display: flex;
  align-items: center;

  width: 562px;

  padding: 16px 36px;
}

.modal-funnel .table__subcolumn {
  word-wrap: break-word;
}

.modal-funnel .table__column .table__subcolumn:first-child {
  width: 170px;

  margin-right: 46px;
}

.modal-funnel .table__column .table__subcolumn:last-child {
  width: 265px;
}

.modal-funnel .table__footer {
  background-color: rgba(196, 196, 196, 0.43);
}

.table__subtotal {
  font-weight: 500;
}

.table__total {
  font-weight: 700;
}