@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* ---------- NULL STYLE ----------*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* ---------- GENERAL STYLES ----------*/

body {
  font-family: 'Roboto', sans-serif;

  padding: 20px;

  --custom-green: #099806;
  --light-grey: #A1A1A1;
}

.modal {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* .modal__container {
  width: 654px; 

  padding: 49px 109px 78px 79px;
  position: relative;

  box-shadow: 0px 4px 69px rgba(185, 185, 185, 0.25);
  border-radius: 10px;
} */

.modal__container {
  width: calc(654px * var(--scale)); 

  padding: calc(49px * var(--scale)) calc(109px * var(--scale)) calc(78px * var(--scale)) calc(79px * var(--scale));
  position: relative;

  box-shadow: 0px calc(4px * var(--scale)) calc(69px * var(--scale)) rgba(185, 185, 185, 0.25);
  border-radius: calc(10px * var(--scale));
}

/* .title {
  margin-bottom: 30px;

  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
} */

.title {
  margin-bottom: calc(30px * var(--scale));

  font-weight: 500;
  font-size: calc(36px * var(--scale));
  line-height: calc(42px * var(--scale));
}

/* .button {
  width: 188px;

  padding: 11px 0 10px 0;
  
  text-align: center;
  font-size: 20px;
  line-height: 23px;

  border: 1px solid var(--custom-green);
  border-radius: 16px;
} */

.button {
  width: calc(188px * var(--scale));

  padding: calc(11px * var(--scale)) 0 calc(10px * var(--scale)) 0;

  text-align: center;
  font-size: calc(20px * var(--scale));
  line-height: calc(23px * var(--scale));

  border: 1px solid var(--custom-green);
  border-radius: calc(16px * var(--scale));
}

.modal .button {
  width: 100%;
}

.button_green {
  color: #fff;
  background-color: var(--custom-green);
}

.button_outline-green {
  color: var(--custom-green);
  background-color: #fff;
}

/* .cancel-button {
  --cancel-button-size: 28px;
  --cancel-button-line-size: calc(var(--cancel-button-size) / 0.71);

  width: var(--cancel-button-size);
  height: var(--cancel-button-size);

  position: absolute;
  top: 41px;
  right: 41px;

  background-color: transparent;
} */

.cancel-button {
  --cancel-button-size: calc(28px * var(--scale));
  --cancel-button-line-size: calc(var(--cancel-button-size) / 0.71);

  width: var(--cancel-button-size);
  height: var(--cancel-button-size);

  position: absolute;
  top: calc(41px * var(--scale));
  right: calc(41px * var(--scale));

  background-color: transparent;
}

.cancel-button::before, .cancel-button::after {
  content: '';

  width: var(--cancel-button-line-size);
  height: 1px;

  position: absolute;
  top: calc(var(--cancel-button-size) / 2);
  left: calc(-1 * (var(--cancel-button-line-size) - var(--cancel-button-size)) / 2);

  background-color: #000;
}

.cancel-button::before {
  transform: rotate(45deg);
}

.cancel-button::after {
  transform: rotate(-45deg);
}

/* .form > div {
  margin-bottom: 30px;
} */

.form > div {
  margin-bottom: calc(30px * var(--scale));
}

/* .input-field__label, .select-field__label, .textarea-field__label  {
  display: block;
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 19px;
} */

.input-field__label, .select-field__label, .textarea-field__label  {
  display: block;

  margin-bottom: calc(7px * var(--scale));

  font-size: calc(16px * var(--scale));
  line-height: calc(19px * var(--scale));
}

/* .input-field__input, .select-field__select, .textarea-field__textarea {
  width: 100%;

  padding: 13px 17px;

  font-size: 20px;
  line-height: 23px;

  border: 1px solid #000000;
  border-radius: 4px;
} */

.input-field__input, .textarea-field__textarea, .select-field__input, .select-field__option {
  width: 100%;

  padding: calc(13px * var(--scale)) calc(17px * var(--scale));

  font-size: calc(20px * var(--scale));
  line-height: calc(23px * var(--scale));

  border: 1px solid #000000;
  border-radius: calc(4px * var(--scale));
}

.input-field__input::-webkit-input-placeholder {
  color: var(--light-grey);
}

/* .input-field__input[type=date] {
  width: 144px;
} */

.input-field__input[type=date] {
  width: calc(144px * var(--scale));
}

.input-field__input[type=date]::before {
  content: attr(placeholder);

  color: var(--light-grey);
}

.input-field__input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.input-field__input[type=url] {
  color: #0745A3;
}

/* .textarea-field__textarea {
  height: 153px;

  resize: none;
} */

.textarea-field__textarea {
  height: calc(153px * var(--scale));

  resize: none;
}

/* maaan */
.select-field__placeholder {
  display: none;
}

.select-field__option {
  text-align: center;
}

.select-row {
  display: flex;
}

.select-row__select-field .select-field__select {
  text-align: center;
}

/* .select-row__select-field {
  min-width: 98px;
} */

.select-row__select-field {
  min-width: calc(98px * var(--scale));
}

/* .select-row__select-field:not(:last-child) {
  margin-right: 41px;
} */

.select-row__select-field:not(:last-child) {
  margin-right: calc(41px * var(--scale));
}

/* ---------- AUTHORIZATION ----------*/

.authorization__container {
  padding: 49px 94px 78px 94px;
}

.authorization__title {
  margin-bottom: 25px;

  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
}

.authorization__input-field {
  margin-bottom: 28px;
}

.authorization__input-field:nth-child(2) {
  margin-bottom: 50px;
}

.authorization__button {
  width: 100%;
}

/* ---------- PRIMARY STREAM CREATE ----------*/

/* .primary-stream-create__button {
  margin-top: 37px;
} */

.primary-stream-create {
  --scale: 1;
}

.primary-stream-create__button {
  margin-top: calc(37px * var(--scale));
}

/* ---------- CREATE FOR EMPLOYEE ----------*/

/* .create-for-employee__button {
  margin-top: 16px;
} */

.create-for-employee {
  --scale: 0.67;
}

.create-for-employee__button {
  margin-top: calc(16px * var(--scale));
}

/* ---------- COMMENT CLICK CREATE ----------*/

.comment-click-create {
  --scale: 0.67;
}

/* ---------- TEST ----------*/

.test {
  width: 400px;
}

.select-field {
  --scale: 1;
}

.select-field__input-wrapper {
  position: relative;
}

.select-field__input {
  width: 100%;
}

.select-field__button {
  content: '';

  width: 10px;
  height: 10px;

  position: absolute;

  top: 10px;
  right: 15px;

  background-color: black;
}

.select-field__select {
  display: none;
}

.select-field__option:not(:last-child) {
  border-bottom: 1px solid black;
}

.select-field__option {
  border-top: none;
  border-right: 1px solild #000;
  border-left: 1px solild #000;
  border-radius: 0;
}

